<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeLeaf.org"
      th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Contact Detail</title>
</head>
<body>
<section>
    <div class="card mr-3 ml-3" th:if="${contact}">
        <div class="card-body">
            <div class="container text-center">
                <img style="height:200px; width:200px; object-fit:cover"
                     class="contact_profile_pic" src=""
                     th:src="@{'/image/'+${contact.imageUrl}}"
                     alt="profile photo">
                <h3 class="mt-3">
                    <span th:text="${contact.name}"></span>
                    ( <span th:text="${contact.secondName}"></span> )
                </h3>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col"><span th:text="'CM2023'+${contact.cId}"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Phone No</th>
                        <td><span th:text="${contact.phoneNo}"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td><span th:text="${contact.email}"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Work</th>
                        <td><span th:text="${contact.work}"></span></td>
                    </tr>
                    </tbody>
                </table>

                <div class="description mt-3">
                    <th:block th:utext="${contact.description}"></th:block>
                </div>

                <div class="container mt-3">
                    <button class="btn btn-primary btn-sm">Update</button>
                    <button class="btn btn-danger btn-sm">Delete</button>
                </div>

            </div>
        </div>
    </div>
    <!--        todo make a separate page for this-->
    <h1 class="text-center p-3 bg-danger text-white mr-3"  th:unless="${contact}">You are not authorise to see this contact</h1>
</section>
</body>
</html>