<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeLeaf.org"
      th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>View Contact</title>
</head>
<body>
<section>
    <div class="card mr-3 ml-3">
        <div class="card-body">
            <h1 class="text-center">Contacts</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${contacts}">
                    <th scope="row" th:text="'CM2023'+${c.cId}">1</th>
                    <td >
                        <img class="contact_profile_pic" src="" th:src="@{'/image/'+${c.imageUrl}}" alt="img">
                        <span th:text="${c.name}"></span>
                    </td>
                    <td >
                        <a th:href="@{'/user/contact/'+${c.cId}}">
                            <span th:text="${c.email}"></span>
                        </a>
                    </td>
                    <td th:text="${c.phoneNo}"></td>
                    <td>
                        <a href="#"  class="item"> <i class="fa-solid fa-pen"></i> </a>
<!--                        sweet delete using cdn -->
<!--                        <a href="#" th:href="@{'/user/delete/'+${c.cId}}" class="item"> <i class="fa-solid fa-trash" style="color:red"></i> </a>-->
                        <a href="#" th:onclick="|deleteContact(${c.cId})|" class="item"> <i class="fa-solid fa-trash" style="color:red"></i> </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Pagination-->
<!--            todo fix pagination bug-->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li th:if="${currentPage != 0}" class="page-item">
                        <a class="page-link" th:href="'/user/show-contacts/'+${currentPage}" href="#">Previous</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(1,totalPages)}"
                        th:classAppend="${currentPage == i-1 ? 'active' : ''}"
                        class="page-item">
                        <a class="page-link" th:href="'/user/show-contacts/'+${i}" href="#">
                            <span th:text="${i}"></span>
                        </a>
                    </li>
                    <li th:if="${currentPage + 1 != totalPages}" class="page-item">
                        <a class="page-link" th:href="'/user/show-contacts/'+${currentPage+2}" href="#">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</section>
</body>
</html>