<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <title>Email Form</title>
</head>

<body>
    <section>
        <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" style="height: 240px;" class="col-md-12">
                            <form id="login-form" class="form" th:action="@{/send-otp}" action="#" method="post">

                                <div class="container" th:if="${session.message}">
                                    <div class="alert alert-danger my-2 text-center" role="alert">
                                        <span th:text="${session.message.content}"></span>
                                    </div>
                                    <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                                </div>

                                <h3 class="text-center text-info">Your registered email</h3>
                                <div class="form-group">
                                    <input required="required" type="email" placeholder="Enter Email" name="email" id="email" class="form-control">
                                </div>
                                <button class="btn btn-warning" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>