<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>This is Home Page</title>
</head>
<body>
    <section class="banner mt-5 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="font-weight-bold">Contact Manager</h1>
            <p>
                You can start collecting your contact and manage it.
            </p>
            <a th:href="@{/signup}" class="btn bg-primary btn-lg text-white">Get Start</a>
        </div>
    </section>
</body>
</html>