<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>This is Home Page</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="my-card mt-3">
                    <div class="container text-center">
                        <img style="width:50px" th:src="@{/image/register.png}">
                    </div>
                    <h1 class="text-center">
                        Register here !!
                    </h1>
                    <form th:action="@{/do_register}" method="post">
                        <!-- name-->
                        <div class="form-group">
                            <label for="name_field">Your Name</label>
                            <input type="text" required placeholder="Enter your name" class="form-control" id="name_field" aria-describedby="emailHelp">
                        </div>

                        <!-- email -->
                        <div class="form-group">
                            <label for="email_field">Your Email</label>
                            <input type="email" required placeholder="Enter your email" class="form-control" id="email_field" aria-describedby="emailHelp">
                        </div>

                        <!-- password -->
                        <div class="form-group">
                            <label for="password_field">Your Password</label>
                            <input type="password" required placeholder="Enter your email" class="form-control" id="password_field" aria-describedby="emailHelp">
                        </div>

                        <!-- user about field-->
                        <div class="form-group">
                            <textarea class="form-control" placeholder="enter about yourself" rows="5"></textarea>
                        </div>
                        
                        <div class="container text-center">
                            <button type="submit"  class="btn bg-primary text-white">
                                Submit
                            </button>
                            <button type="reset" class="btn bg-warning">
                                Reset
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>